
Debug/RetroGaming.exe
Debug/RetroGaming.ilk
Debug/RetroGaming.pdb
RetroGaming/Debug/GameBase.obj
RetroGaming/Debug/GuessTheNumber.obj
RetroGaming/Debug/Main.obj
RetroGaming/Debug/RetroGaming.log
RetroGaming/Debug/RetroGaming.obj
RetroGaming/Debug/retrogaming.obj.enc
RetroGaming/Debug/RetroGaming.tlog/CL.command.1.tlog
RetroGaming/Debug/RetroGaming.tlog/CL.read.1.tlog
RetroGaming/Debug/RetroGaming.tlog/CL.write.1.tlog
RetroGaming/Debug/RetroGaming.tlog/link.command.1.tlog
RetroGaming/Debug/RetroGaming.tlog/link.read.1.tlog
RetroGaming/Debug/RetroGaming.tlog/link.write.1.tlog
RetroGaming/Debug/RetroGaming.tlog/RetroGaming.lastbuildstate
RetroGaming/Debug/vc141.idb
RetroGaming/Debug/vc141.pdb
.vs/RetroGaming/v15/Browse.VC.opendb
.vs/RetroGaming/v15/Browse.VC.db
x64/Release/RetroGaming.pdb
x64/Release/RetroGaming.ipdb
x64/Release/RetroGaming.iobj
x64/Release/RetroGaming.exe
RetroGaming/x64/Release/vc141.pdb
RetroGaming/x64/Release/RetroGaming.tlog/RetroGaming.write.1u.tlog
RetroGaming/x64/Release/RetroGaming.tlog/RetroGaming.lastbuildstate
RetroGaming/x64/Release/RetroGaming.tlog/link.write.1.tlog
RetroGaming/x64/Release/RetroGaming.tlog/link.read.1.tlog
RetroGaming/x64/Release/RetroGaming.tlog/link.command.1.tlog
RetroGaming/x64/Release/RetroGaming.tlog/CL.write.1.tlog
RetroGaming/x64/Release/RetroGaming.tlog/CL.read.1.tlog
RetroGaming/x64/Release/RetroGaming.tlog/CL.command.1.tlog
RetroGaming/x64/Release/RetroGaming.log
RetroGaming/x64/Release/Main.obj
RetroGaming/x64/Release/GuessTheNumber.obj
RetroGaming/x64/Release/GameBase.obj
.vs/RetroGaming/v15/.suo
.vs/RetroGaming/v15/ipch/AutoPCH/45acde39048514bd/GAMEBASE.ipch
.vs/RetroGaming/v15/ipch/AutoPCH/4a61df95dc0bc93d/GAMEBASE.ipch
.vs/RetroGaming/v15/ipch/AutoPCH/88a748d6221338e5/MAIN.ipch
.vs/RetroGaming/v15/ipch/AutoPCH/9cbbfe8a953e1465/MAIN.ipch
.vs/RetroGaming/v15/ipch/AutoPCH/b7d54ca3f13e89eb/GUESSTHENUMBER.ipch
RetroGaming/x64/Debug/GameBase.obj
RetroGaming/x64/Debug/GuessTheNumber.obj
RetroGaming/x64/Debug/Main.obj
RetroGaming/x64/Debug/RetroGaming.Build.CppClean.log
RetroGaming/x64/Debug/RetroGaming.log
RetroGaming/x64/Debug/RetroGaming.tlog/CL.command.1.tlog
RetroGaming/x64/Debug/RetroGaming.tlog/CL.read.1.tlog
RetroGaming/x64/Debug/RetroGaming.tlog/CL.write.1.tlog
RetroGaming/x64/Debug/RetroGaming.tlog/link.command.1.tlog
RetroGaming/x64/Debug/RetroGaming.tlog/link.read.1.tlog
RetroGaming/x64/Debug/RetroGaming.tlog/link.write.1.tlog
RetroGaming/x64/Debug/RetroGaming.tlog/RetroGaming.lastbuildstate
RetroGaming/x64/Debug/vc141.idb
RetroGaming/x64/Debug/vc141.pdb
x64/Debug/RetroGaming.exe
x64/Debug/RetroGaming.ilk
x64/Debug/RetroGaming.pdb
RetroGaming/x64/Debug/HangMan.obj
.vs/RetroGaming/v15/ipch/AutoPCH/6b1882abc9934744/HANGMAN.ipch
*.ipch
*.obj
*.enc
build
RetroGamingApp
RetroGaming/x64/Debug/RetroGaming.tlog/unsuccessfulbuild
RetroGaming/b98a0513-91bd-4261-b158-78fb35b86733.txt
RetroGaming/150fac70-df52-4fc2-9605-23f1f988a15a.txt
RetroGaming/f2a82351-24d0-4a06-8caf-b322f95d3b02.txt
RetroGaming/eaee2cc4-5ce3-46ec-8c96-51178ba76c22.txt
RetroGaming/837254f0-26b6-4fc9-a745-bab4304df6ca.txt
RetroGaming/367f153c-1e68-4ce1-a529-423975797b2a.txt
RetroGaming/random.txt
RetroGaming/x64/Debug/vc142.pdb
*.idb
.vs/RetroGaming/v16/.suo
*.db
*.opendb
.vs/RetroGaming/v16/Browse.VC.db-wal
RetroGaming/x64/Debug/RetroGaming.exe.recipe
.vs/RetroGaming/v16/Browse.VC.db-shm
